<ion-view view-title="{{'apps' | translate}}">
  <ion-header-bar class="bar-subheader has-address-bar item-input-inset">
    <label class="item-input-wrapper">
    <input type="text" autocorrect="off" autocapitalize="none" placeholder="{{'scan_qr_or_enter_code' | translate}}" ng-model="view.input" my-enter="openView()">
    </label>
    <div class="buttons">
      <button class="button button-clear button-icon ion-android-checkbox" ng-click="openView()">
      {{'go' | translate}}
      </button>
      <button class="button button-clear button-icon ion-qr-scanner" ng-click="scanQr()">
      {{'qr' | translate}}
      </button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="false">
    <div class="item card" ng-show="favs.loading == true">
      <div class="item item-text-wrap" style="text-align:center">
        <div>
          <svg version="1.1" id="loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="60px" height="60px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
            <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
              s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
              c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
            <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
              C22.32,8.481,24.301,9.057,26.013,10.047z">
              <animateTransform attributeType="xml"
                attributeName="transform"
                type="rotate"
                from="0 20 20"
                to="360 20 20"
                dur="0.5s"
                repeatCount="indefinite"/>
            </path>
          </svg>
        </div>
        <h2>{{'loading' | translate}}</h2>
      </div>
    </div>
    <div class="item card" ng-show="favs.items.length == 0 && favs.loading == false">
      <div class="item item-text-wrap">
        <h2>{{'here_visited_apps_will_show' | translate}}</h2>
      </div>
      <div class="item item-text-wrap">
        <h2>{{'here_visited_apps_will_show_info' | translate}}</h2>
      </div>
      <div class="item item-text-wrap app-container">
        <div class="row app-row">
          <div class="col col-33 text-center">
            <img ng-src="img/icons/coffee/120.png" class="app-icon">
            <div class="app-name">{{'coffee_bar' | translate}}</div>
          </div>
          <div class="col col-33 text-center">
            <img ng-src="img/icons/shopping-bag/120.png" class="app-icon">
            <div class="app-name">{{'shopping_mall' | translate}}</div>
          </div>
          <div class="col col-33 text-center">
            <img ng-src="img/icons/camera/120.png" class="app-icon">
            <div class="app-name">{{'art_gallery' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <section ng-show="favs.items.length > 0">
      <div ng-repeat="fav in favs.items" class="text-center" style="float:left; width:33.2%; margin-top:20px" ng-click="showActionSheet('{{ fav.name | escapeSingleQuote }}', '{{ fav.id }}', '{{ fav.url }}', '{{ fav.locked }}')">
        <img ng-src="{{ fav.icon }}" class="app-icon">
        <div class="app-name">{{ fav.name }}</div>
      </div>
    </section>
  </ion-content>
</ion-view>